<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>in.sball.searchnotes</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>060809AF-8160-439A-85F9-D672664E3A1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BC84589-FA2A-459F-982A-54B612C9BA7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A6D4810-ABAF-4604-9639-CC1327A279B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BC84589-FA2A-459F-982A-54B612C9BA7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D8E3444-14C2-4D0E-A8C1-AA67988AE358</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BC84589-FA2A-459F-982A-54B612C9BA7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6740BCB6-6818-49E2-A88A-9D19EA132F08</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy notes:// URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DC692798-E272-4547-BE83-4B63B823E456</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy note body</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D8E3444-14C2-4D0E-A8C1-AA67988AE358</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6740BCB6-6818-49E2-A88A-9D19EA132F08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDAEA7F3-310A-4F75-8624-6E256C84ABF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F3DD843-22EF-4A97-BAF8-511894B5202D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D8E3444-14C2-4D0E-A8C1-AA67988AE358</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9ECD7D6-EA33-4E2E-AE3E-4E22EEDD6097</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6740BCB6-6818-49E2-A88A-9D19EA132F08</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy notes:// URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DC692798-E272-4547-BE83-4B63B823E456</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy note body</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D8E3444-14C2-4D0E-A8C1-AA67988AE358</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC692798-E272-4547-BE83-4B63B823E456</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDAEA7F3-310A-4F75-8624-6E256C84ABF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sean Ballinger</string>
	<key>description</key>
	<string>Open notes in iCloud/Apple Notes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search Notes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>49</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>Space</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1A6D4810-ABAF-4604-9639-CC1327A279B7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>use framework "Foundation"property NSString : a reference to current application's NSString
property NSCharacterSet : a reference to current application's NSCharacterSet

on alfred_script(q)	tell application "Notes"		set noteName to name of note id q		set noteName to (NSString's stringWithString:noteName)		set noteName to (noteName's stringByAddingPercentEncodingWithAllowedCharacters:(NSCharacterSet's URLPathAllowedCharacterSet)) as text		
		set noteName to "notes://" &amp; noteName	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>6740BCB6-6818-49E2-A88A-9D19EA132F08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>n</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting notes...</string>
				<key>script</key>
				<string>python3 -I -S get_notes.py 2&gt;&gt; error_log.txt
if [[ $? != 0 ]]; then
    sh handle_error.sh
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get_notes</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search notes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5BC84589-FA2A-459F-982A-54B612C9BA7F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.Notes</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>060809AF-8160-439A-85F9-D672664E3A1A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DDAEA7F3-310A-4F75-8624-6E256C84ABF3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Notes" to get plaintext of note id q in default account	set body to text (paragraph 2) thru -1 of the result
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>DC692798-E272-4547-BE83-4B63B823E456</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>nb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting notes...</string>
				<key>script</key>
				<string>python3 -S get_note_bodies.py 2&gt;&gt; error_log.txt
if [[ $? != 0 ]]; then
    sh handle_error.sh
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get_note_bodies.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search note bodies</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B9ECD7D6-EA33-4E2E-AE3E-4E22EEDD6097</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 -I -S update.py 2&gt;&gt; error_log.txt
if [[ $? != 0 ]]; then
    sh handle_error.sh
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>update.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Notes"
		if q contains "Note" then
			show note id q in default account
             -- Once more, otherwise this fails when toolbar search is active
			show note id q in default account
		else
			show folder id q in default account
             -- Once more, otherwise this fails when toolbar search is active
			show folder id q in default account
		end if	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>4D8E3444-14C2-4D0E-A8C1-AA67988AE358</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>nf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting folders...</string>
				<key>script</key>
				<string>python3 -S get_folders.py 2&gt;&gt; error_log.txt
if [[ $? != 0 ]]; then
    sh handle_error.sh
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get_folders.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search note folders</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6F3DD843-22EF-4A97-BAF8-511894B5202D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Note: If you're on macOS Catalina and haven't used python before, the workflow will not function unless you install the Xcode developer tools with the command `xcode-select --install`. 

For further info and troubleshooting, visit https://github.com/sballin/alfred-search-notes-app</string>
	<key>uidata</key>
	<dict>
		<key>060809AF-8160-439A-85F9-D672664E3A1A</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</key>
		<dict>
			<key>note</key>
			<string>Check for updates</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>1A6D4810-ABAF-4604-9639-CC1327A279B7</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>4D8E3444-14C2-4D0E-A8C1-AA67988AE358</key>
		<dict>
			<key>note</key>
			<string>Show note/folder</string>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>5BC84589-FA2A-459F-982A-54B612C9BA7F</key>
		<dict>
			<key>note</key>
			<string>Search note titles</string>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>6740BCB6-6818-49E2-A88A-9D19EA132F08</key>
		<dict>
			<key>note</key>
			<string>⌥ Make notes:// URL</string>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>6F3DD843-22EF-4A97-BAF8-511894B5202D</key>
		<dict>
			<key>note</key>
			<string>Search folder names</string>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>B9ECD7D6-EA33-4E2E-AE3E-4E22EEDD6097</key>
		<dict>
			<key>note</key>
			<string>Search note bodies</string>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>DC692798-E272-4547-BE83-4B63B823E456</key>
		<dict>
			<key>note</key>
			<string>⌘ Get note body</string>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>DDAEA7F3-310A-4F75-8624-6E256C84ABF3</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>sortByDate</key>
		<string>1</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.2.1</string>
	<key>webaddress</key>
	<string>https://github.com/sballin/alfred-search-notes-app</string>
</dict>
</plist>
