<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>in.sball.searchnotes</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>060809AF-8160-439A-85F9-D672664E3A1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BC84589-FA2A-459F-982A-54B612C9BA7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A6D4810-ABAF-4604-9639-CC1327A279B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BC84589-FA2A-459F-982A-54B612C9BA7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D8E3444-14C2-4D0E-A8C1-AA67988AE358</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BC84589-FA2A-459F-982A-54B612C9BA7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE746687-24FD-4E5C-841F-0D4826E007C4</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Search in Notes toolbar</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6740BCB6-6818-49E2-A88A-9D19EA132F08</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy notes:// URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DC692798-E272-4547-BE83-4B63B823E456</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy note body</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D8E3444-14C2-4D0E-A8C1-AA67988AE358</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6740BCB6-6818-49E2-A88A-9D19EA132F08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F3DD843-22EF-4A97-BAF8-511894B5202D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE746687-24FD-4E5C-841F-0D4826E007C4</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Search in Notes toolbar</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D8E3444-14C2-4D0E-A8C1-AA67988AE358</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9ECD7D6-EA33-4E2E-AE3E-4E22EEDD6097</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE746687-24FD-4E5C-841F-0D4826E007C4</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Search in Notes toolbar</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6740BCB6-6818-49E2-A88A-9D19EA132F08</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy notes:// URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DC692798-E272-4547-BE83-4B63B823E456</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy note body</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D8E3444-14C2-4D0E-A8C1-AA67988AE358</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE746687-24FD-4E5C-841F-0D4826E007C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC692798-E272-4547-BE83-4B63B823E456</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sean Ballinger</string>
	<key>description</key>
	<string>Open notes in iCloud/Apple Notes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search Notes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>49</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>Space</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1A6D4810-ABAF-4604-9639-CC1327A279B7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events"		tell process "Notes"			set frontmost to true			click menu item "Note List Search…" of menu of menu item "Find" of menu "Edit" of menu bar 1
			-- Get user search query which is second half of q
			set userQuery to text ((offset of "?" in q)+1) thru -1 of q			keystroke userQuery		end tell	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>CE746687-24FD-4E5C-841F-0D4826E007C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>n</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Getting notes...</string>
				<key>script</key>
				<string>search/search title "$@" 2&gt;&gt; error_log.txt
if [[ $? != 0 ]]; then
    osascript handle_error.scpt
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>cmd/search_titles/search_titles</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search notes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5BC84589-FA2A-459F-982A-54B612C9BA7F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.Notes</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>060809AF-8160-439A-85F9-D672664E3A1A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>use framework "Foundation"
use scripting additions -- fixes errors due to previous lineproperty NSString : a reference to current application's NSString
property NSCharacterSet : a reference to current application's NSCharacterSet

on alfred_script(q)	tell application "Notes"
		-- Get note id which is first item in q
		set q to text 1 thru ((offset of "?" in q)-1) of q		set noteName to name of note id q
		set the clipboard to noteName		set noteName to (NSString's stringWithString:noteName)		set noteName to (noteName's stringByAddingPercentEncodingWithAllowedCharacters:(NSCharacterSet's URLPathAllowedCharacterSet)) as text		
		set noteUrl to "notes://" &amp; noteName
		set the clipboard to noteUrl	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>6740BCB6-6818-49E2-A88A-9D19EA132F08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>nb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Getting notes...</string>
				<key>script</key>
				<string>search/search body "$@" 2&gt;&gt; error_log.txt
if [[ $? != 0 ]]; then
    osascript handle_error.scpt
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get_note_bodies.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search note bodies</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B9ECD7D6-EA33-4E2E-AE3E-4E22EEDD6097</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python update.py 2&gt;&gt; error_log.txt</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>update.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	-- Get note id which is first item in q
	set q to text 1 thru ((offset of "?" in q)-1) of q
	tell application "Notes" to get plaintext of note id q in default account	set body to text (paragraph 2) thru -1 of the result
	set the clipboard to body
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>DC692798-E272-4547-BE83-4B63B823E456</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>nf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Getting folders...</string>
				<key>script</key>
				<string>search/search folder "$@" 2&gt;&gt; error_log.txt
if [[ $? != 0 ]]; then
    osascript handle_error.scpt
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get_folders.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search note folders</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6F3DD843-22EF-4A97-BAF8-511894B5202D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>-- Some commands need to run twice otherwise they fail when toolbar search is active

on alfred_script(q)
	tell application "Notes"
		if q contains "/ICNote/p" then
			-- Show user requested note
			-- Get note id which is first item in q
			set noteID to text 1 thru ((offset of "?" in q)-1) of q
			show note id noteID in default account
			show note id noteID in default account
		else if q contains "/ICFolder/p" then
			-- Show user requested folder
			-- Get folder id which is first item in q
			set folderID to text 1 thru ((offset of "?" in q)-1) of q
			show folder id folderID in default account
			show folder id folderID in default account
		else
			-- Create new note from user query
			-- Move from any other folder/state to default "Notes" folder
			show default folder in default account
			show default folder in default account
			tell application "System Events"				tell process "Notes"					click menu item "New Note" of menu "File" of menu bar 1
					-- Set title to user query and press enter twice					keystroke q					key code {36,36}				end tell			end tell
		end if	end tell
end alfred_scriptc</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>4D8E3444-14C2-4D0E-A8C1-AA67988AE358</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Instructions and Help
---------------------
https://github.com/sballin/alfred-search-notes-app


Required setup
--------------
Authorize the "search" binary to run on your computer. Right-click the Search Notes workflow, click "Open in Finder", open the "search" folder, right-click the "search" binary, click "Open", and after it runs once in Terminal you're done.


Environment Variables
---------------------
searchFolders: 1 = return all notes from any folder matching the search query, 0 = don't

sortByDate: 1 = most recently modified note first, 0 = alphabetical order</string>
	<key>uidata</key>
	<dict>
		<key>060809AF-8160-439A-85F9-D672664E3A1A</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</key>
		<dict>
			<key>note</key>
			<string>Check for updates once every 24 hours</string>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>1A6D4810-ABAF-4604-9639-CC1327A279B7</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>4D8E3444-14C2-4D0E-A8C1-AA67988AE358</key>
		<dict>
			<key>note</key>
			<string>Show note/folder 
or create note</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>5BC84589-FA2A-459F-982A-54B612C9BA7F</key>
		<dict>
			<key>note</key>
			<string>Search note titles</string>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>6740BCB6-6818-49E2-A88A-9D19EA132F08</key>
		<dict>
			<key>note</key>
			<string>⌥ Copy notes:// URL</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>6F3DD843-22EF-4A97-BAF8-511894B5202D</key>
		<dict>
			<key>note</key>
			<string>Search folder names</string>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>B9ECD7D6-EA33-4E2E-AE3E-4E22EEDD6097</key>
		<dict>
			<key>note</key>
			<string>Search note bodies</string>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>CE746687-24FD-4E5C-841F-0D4826E007C4</key>
		<dict>
			<key>note</key>
			<string>⇧ Search in Notes toolbar</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>DC692798-E272-4547-BE83-4B63B823E456</key>
		<dict>
			<key>note</key>
			<string>⌘ Copy note body</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>searchFolders</key>
		<string>1</string>
		<key>sortByDate</key>
		<string>1</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>3.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/sballin/alfred-search-notes-app</string>
</dict>
</plist>
