<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>in.sball.searchnotes</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>060809AF-8160-439A-85F9-D672664E3A1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BC84589-FA2A-459F-982A-54B612C9BA7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>092EA403-A1D7-49DA-B8DD-8D785DDAB3B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A6D4810-ABAF-4604-9639-CC1327A279B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BC84589-FA2A-459F-982A-54B612C9BA7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A3C974B-57DF-4601-8EFC-4158CAA2005A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A057AD2C-473A-4823-8624-8891E5C187F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B0DABFD-B5B3-4733-A2E0-0676B6128E95</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D8E3444-14C2-4D0E-A8C1-AA67988AE358</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BC84589-FA2A-459F-982A-54B612C9BA7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE746687-24FD-4E5C-841F-0D4826E007C4</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Search in Notes toolbar</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6740BCB6-6818-49E2-A88A-9D19EA132F08</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy note URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DC692798-E272-4547-BE83-4B63B823E456</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy note body</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D8E3444-14C2-4D0E-A8C1-AA67988AE358</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6740BCB6-6818-49E2-A88A-9D19EA132F08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69AB99D4-3231-4959-828B-383C93051FCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>092EA403-A1D7-49DA-B8DD-8D785DDAB3B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F3DD843-22EF-4A97-BAF8-511894B5202D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE746687-24FD-4E5C-841F-0D4826E007C4</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Search in Notes toolbar</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D8E3444-14C2-4D0E-A8C1-AA67988AE358</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A057AD2C-473A-4823-8624-8891E5C187F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B0DABFD-B5B3-4733-A2E0-0676B6128E95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9ECD7D6-EA33-4E2E-AE3E-4E22EEDD6097</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE746687-24FD-4E5C-841F-0D4826E007C4</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Search in Notes toolbar</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6740BCB6-6818-49E2-A88A-9D19EA132F08</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy note URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DC692798-E272-4547-BE83-4B63B823E456</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy note body</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D8E3444-14C2-4D0E-A8C1-AA67988AE358</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE746687-24FD-4E5C-841F-0D4826E007C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC692798-E272-4547-BE83-4B63B823E456</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sean Ballinger</string>
	<key>description</key>
	<string>Open notes in iCloud/Apple Notes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search Notes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>49</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>Space</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1A6D4810-ABAF-4604-9639-CC1327A279B7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>-- This script takes "URLs" of format "itemID,accountID,userQuery" or just "userQuery"

on alfred_script(q)
	tell application "System Events"		tell process "Notes"
			-- Get search string 
			set remainder to text ((offset of "," in q)+1) thru -1 of q
			set userQuery to text ((offset of "," in remainder)+1) thru -1 of remainder
			-- Enter the string in the Notes search bar			set frontmost to true			click menu item 1 of menu of menu item 16 of menu 4 of menu bar 1 -- Edit, Find, Note List Search…
			set clipboardOld to the clipboard
			set the clipboard to userQuery			click menu item 6 of menu 4 of menu bar 1 -- Edit, Paste
			delay 0.1
			set the clipboard to clipboardOld		end tell	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>CE746687-24FD-4E5C-841F-0D4826E007C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>n</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Getting notes...</string>
				<key>script</key>
				<string>workflow_dir=$alfred_preferences/workflows/$alfred_workflow_uid
"$workflow_dir/search_notes/search_notes" title "$@" 2&gt;&gt; "$workflow_dir/error_log.txt"
if [[ $? != 0 ]]; then
    osascript "$workflow_dir/handle_error.scpt"
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>cmd/search_titles/search_titles</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search notes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5BC84589-FA2A-459F-982A-54B612C9BA7F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.Notes</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>060809AF-8160-439A-85F9-D672664E3A1A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>use framework "Foundation"
use scripting additions

property NSMutableAttributedString : a reference to current application's NSMutableAttributedString
property NSNull : a reference to current application's NSNull
property NSDate : a reference to current application's NSDate
property NSNumber : a reference to current application's NSNumber
property NSPasteboardTypeRTF : a reference to current application's NSPasteboardTypeRTF
property NSRTFTextDocumentType : a reference to current application's NSRTFTextDocumentType
property NSString : a reference to current application's NSString
property NSUTF8StringEncoding : a reference to current application's NSUTF8StringEncoding
property NOTE_URL_PREFIX : "shortcuts://run-shortcut?name=NoteURL&amp;input="

on HTMLToClipboard(HTMLContent)
    set HTMLBody to ("&lt;html&gt;&lt;head&gt;&lt;meta charset=\"UTF-8\" /&gt;&lt;/head&gt;&lt;body&gt;" &amp; HTMLContent &amp; "&lt;/body&gt;&lt;/html&gt;")
    set NSStringHTMLBody to NSString's stringWithString:HTMLBody
    set HTMLBodyData to NSStringHTMLBody's dataUsingEncoding:NSUTF8StringEncoding
    set attributedString to NSMutableAttributedString's alloc()
    attributedString's initWithHTML:HTMLBodyData documentAttributes:NSNull
    set range to {0, attributedString's |length|}
    set RTF to (attributedString's RTFFromRange:range documentAttributes:{DocumentType:NSRTFTextDocumentType})
    set pasteboard to current application's NSPasteboard's generalPasteboard()
    pasteboard's clearContents()
    pasteboard's setData:RTF forType:NSPasteboardTypeRTF
end clipTextAndHtml

on getNoteURI(noteID)
    tell application "Notes"
        set noteCreated to (creation date) of note id noteID in default account
        set cocoaDate to NSDate's dateWithTimeInterval:0 sinceDate:noteCreated
        set doubleNoteTimestamp to cocoaDate's timeIntervalSince1970
        set intNoteTimestamp to intValue of (NSNumber's numberWithDouble:doubleNoteTimestamp)
        set stringNoteTimestamp to stringValue of (NSNumber's numberWithInt:intNoteTimestamp)
        set URI to (my NOTE_URL_PREFIX) &amp; stringNoteTimestamp
        return URI
    end tell
end getNoteURI

on alfred_script(q)
    tell application "Notes"
        set noteID to text 1 thru ((offset of "?" in q)-1) of q
        set URI to (my getNoteURI(noteID))
        set noteName to name of note id noteID in default account
        set HTMLLink to "&lt;a href=\"" &amp; URI &amp; "\"&gt;" &amp; noteName &amp; "&lt;/a&gt; "
    end tell
    my HTMLToClipboard(HTMLLink)
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>6740BCB6-6818-49E2-A88A-9D19EA132F08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>nb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Getting notes...</string>
				<key>script</key>
				<string>workflow_dir=$alfred_preferences/workflows/$alfred_workflow_uid
"$workflow_dir/search_notes/search_notes" body "$@" 2&gt;&gt; "$workflow_dir/error_log.txt"
if [[ $? != 0 ]]; then
    osascript "$workflow_dir/handle_error.scpt"
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get_note_bodies.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search note bodies</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B9ECD7D6-EA33-4E2E-AE3E-4E22EEDD6097</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>-- This script takes "URLs" of format "itemID,accountID,userQuery"

on alfred_script(q)
	set noteID to text 1 thru ((offset of "," in q)-1) of q
	set remainder to text ((offset of "," in q)+1) thru -1 of q
	set accountID to text 1 thru ((offset of "," in remainder)-1) of remainder
	tell application "Notes" to get plaintext of note id noteID in account id accountID	set body to text (paragraph 2) thru -1 of the result
	set the clipboard to body
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>DC692798-E272-4547-BE83-4B63B823E456</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>nf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Getting folders...</string>
				<key>script</key>
				<string>workflow_dir=$alfred_preferences/workflows/$alfred_workflow_uid
"$workflow_dir/search_notes/search_notes" folder "$@" 2&gt;&gt; "$workflow_dir/error_log.txt"
if [[ $? != 0 ]]; then
    osascript "$workflow_dir/handle_error.scpt"
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get_folders.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search note folders</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6F3DD843-22EF-4A97-BAF8-511894B5202D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>workflow_dir=$alfred_preferences/workflows/$alfred_workflow_uid
/usr/bin/python2 "$workflow_dir/update.py" 2&gt;&gt; "$workflow_dir/error_log.txt"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>update.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>-- This script takes "URLs" of format "itemID,accountID,userQuery" or just "userQuery"
-- Some commands need to run twice, otherwise they fail when toolbar search is active

on alfred_script(q)
	tell application "Notes"
		if q contains "/ICNote/p" then
			-- Show user-requested note
			set noteID to text 1 thru ((offset of "," in q)-1) of q
			set remainder to text ((offset of "," in q)+1) thru -1 of q
			set accountID to text 1 thru ((offset of "," in remainder)-1) of remainder
			show note id noteID in account id accountID
			show note id noteID in account id accountID
		else if q contains "/ICFolder/p" then
			-- Show user-requested folder
			set folderID to text 1 thru ((offset of "," in q)-1) of q
			set remainder to text ((offset of "," in q)+1) thru -1 of q
			set accountID to text 1 thru ((offset of "," in remainder)-1) of remainder
			show folder id folderID in account id accountID
			show folder id folderID in account id accountID
		else
			-- Create new note from user query
			tell default account to make new note at default folder with properties {body:"&lt;div&gt;&lt;h1&gt;" &amp; q &amp; "&lt;/h1&gt;&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;"}
			show first note in default account
			show first note in default account
			tell application "System Events"
				tell process "Notes"
					set focused of text area of scroll area of group 1 of splitter group 1 of splitter group 1 of window 1 to true
					key code {125,125} -- down, down
				end tell
			end tell
		end if
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>4D8E3444-14C2-4D0E-A8C1-AA67988AE358</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>nc</string>
				<key>subtext</key>
				<string>Create new note</string>
				<key>text</key>
				<string>{query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>69AB99D4-3231-4959-828B-383C93051FCC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>-- Some commands need to run twice, otherwise they fail when toolbar search is active

on alfred_script(q)
	tell application "Notes"
		-- Create new note from user query
		tell default account to make new note at default folder with properties {body:"&lt;div&gt;&lt;h1&gt;" &amp; q &amp; "&lt;/h1&gt;&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;"}
		show first note in default account
		show first note in default account
		tell application "System Events"
			tell process "Notes"
				set focused of text area of scroll area of group 1 of splitter group 1 of splitter group 1 of window 1 to true
				key code {125,125} -- down, down
			end tell
		end tell
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>092EA403-A1D7-49DA-B8DD-8D785DDAB3B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Getting notes...</string>
				<key>script</key>
				<string>workflow_dir=$alfred_preferences/workflows/$alfred_workflow_uid
"$workflow_dir/search_notes/search_notes" title "$@" 2&gt;&gt; "$workflow_dir/error_log.txt"
if [[ $? != 0 ]]; then
    osascript "$workflow_dir/handle_error.scpt"
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>cmd/search_titles/search_titles</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search notes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A057AD2C-473A-4823-8624-8891E5C187F6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>[[[</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>2A3C974B-57DF-4601-8EFC-4158CAA2005A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>use framework "Foundation"
use scripting additions

property NSMutableAttributedString : a reference to current application's NSMutableAttributedString
property NSNull : a reference to current application's NSNull
property NSDate : a reference to current application's NSDate
property NSNumber : a reference to current application's NSNumber
property NSPasteboardTypeRTF : a reference to current application's NSPasteboardTypeRTF
property NSRTFTextDocumentType : a reference to current application's NSRTFTextDocumentType
property NSString : a reference to current application's NSString
property NSUTF8StringEncoding : a reference to current application's NSUTF8StringEncoding
property NOTE_URL_PREFIX : "shortcuts://run-shortcut?name=NoteURL&amp;input="

on HTMLToClipboard(HTMLContent)
    set HTMLBody to ("&lt;html&gt;&lt;head&gt;&lt;meta charset=\"UTF-8\" /&gt;&lt;/head&gt;&lt;body&gt;" &amp; HTMLContent &amp; "&lt;/body&gt;&lt;/html&gt;")
    set NSStringHTMLBody to NSString's stringWithString:HTMLBody
    set HTMLBodyData to NSStringHTMLBody's dataUsingEncoding:NSUTF8StringEncoding
    set attributedString to NSMutableAttributedString's alloc()
    attributedString's initWithHTML:HTMLBodyData documentAttributes:NSNull
    set range to {0, attributedString's |length|}
    set RTF to (attributedString's RTFFromRange:range documentAttributes:{DocumentType:NSRTFTextDocumentType})
    set pasteboard to current application's NSPasteboard's generalPasteboard()
    pasteboard's clearContents()
    pasteboard's setData:RTF forType:NSPasteboardTypeRTF
    tell application "System Events" to keystroke "v" using command down
end clipTextAndHtml

on getNoteURI(noteID)
    tell application "Notes"
        set noteCreated to (creation date) of note id noteID in default account
        set cocoaDate to NSDate's dateWithTimeInterval:0 sinceDate:noteCreated
        set doubleNoteTimestamp to cocoaDate's timeIntervalSince1970
        set intNoteTimestamp to intValue of (NSNumber's numberWithDouble:doubleNoteTimestamp)
        set stringNoteTimestamp to stringValue of (NSNumber's numberWithInt:intNoteTimestamp)
        set URI to (my NOTE_URL_PREFIX) &amp; stringNoteTimestamp
        return URI
    end tell
end getNoteURI

on alfred_script(q)
    tell application "Notes"
        set noteID to text 1 thru ((offset of "?" in q)-1) of q
        set URI to (my getNoteURI(noteID))
        set noteName to name of note id noteID in default account
        set HTMLLink to "&lt;a href=\"" &amp; URI &amp; "\"&gt;" &amp; noteName &amp; "&lt;/a&gt; "
    end tell
    my HTMLToClipboard(HTMLLink)
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>2B0DABFD-B5B3-4733-A2E0-0676B6128E95</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Instructions and Help
---------------------
https://github.com/sballin/alfred-search-notes-app


Required Setup
--------------
1. Try searching for a note
2. When an error message appears, press the "Open System Preferences" button
3. Near the bottom of the pane click the "Open Anyway" button for the "search_notes" binary


Environment Variables
---------------------
- fallbackCreateNew: 1 = offer to create a new note if none was found, 0 = don't
- fallbackSearchBody: 1 = if a title search returns no results, search note bodies too, 0 = don't
- searchFolders: 1 = return all notes from any folder matching the search query, 0 = don't
- sortByDate: 1 = most recently modified note first, 0 = alphabetical order</string>
	<key>uidata</key>
	<dict>
		<key>060809AF-8160-439A-85F9-D672664E3A1A</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>092EA403-A1D7-49DA-B8DD-8D785DDAB3B9</key>
		<dict>
			<key>note</key>
			<string>Create new note</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>0B8A749B-E2E7-4B1B-9711-1C77A495BD97</key>
		<dict>
			<key>note</key>
			<string>Check for updates once every 24 hours</string>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>1A6D4810-ABAF-4604-9639-CC1327A279B7</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>2A3C974B-57DF-4601-8EFC-4158CAA2005A</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>2B0DABFD-B5B3-4733-A2E0-0676B6128E95</key>
		<dict>
			<key>note</key>
			<string>Paste note link</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>4D8E3444-14C2-4D0E-A8C1-AA67988AE358</key>
		<dict>
			<key>note</key>
			<string>Show note/folder 
or create note</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>5BC84589-FA2A-459F-982A-54B612C9BA7F</key>
		<dict>
			<key>note</key>
			<string>Search note titles</string>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>6740BCB6-6818-49E2-A88A-9D19EA132F08</key>
		<dict>
			<key>note</key>
			<string>⌥ Copy note URL</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>69AB99D4-3231-4959-828B-383C93051FCC</key>
		<dict>
			<key>note</key>
			<string>Create new note</string>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>6F3DD843-22EF-4A97-BAF8-511894B5202D</key>
		<dict>
			<key>note</key>
			<string>Search folder names</string>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>A057AD2C-473A-4823-8624-8891E5C187F6</key>
		<dict>
			<key>note</key>
			<string>Search note titles</string>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>B9ECD7D6-EA33-4E2E-AE3E-4E22EEDD6097</key>
		<dict>
			<key>note</key>
			<string>Search note bodies</string>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>CE746687-24FD-4E5C-841F-0D4826E007C4</key>
		<dict>
			<key>note</key>
			<string>⇧ Search in Notes toolbar</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>DC692798-E272-4547-BE83-4B63B823E456</key>
		<dict>
			<key>note</key>
			<string>⌘ Copy note body</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>fallbackCreateNew</key>
		<string>1</string>
		<key>fallbackSearchBody</key>
		<string>0</string>
		<key>searchFolders</key>
		<string>1</string>
		<key>sortByDate</key>
		<string>1</string>
	</dict>
	<key>version</key>
	<string>3.3.0</string>
	<key>webaddress</key>
	<string>https://github.com/sballin/alfred-search-notes-app</string>
</dict>
</plist>
